In [506]:
import numpy as np
import pandas as pd
from pandas import DataFrame, Series
%matplotlib inline
import seaborn as sns

In [507]:
data = pd.read_csv("/home/popoago/analytics_vidhya/Train_vzbNH27.csv")

In [508]:
test=pd.read_csv("/home/popoago/analytics_vidhya/Test_MbjGElR.csv")

In [509]:
data.head(10)

,ID,Age,Job,Marital,Education,Default,Housing,Loan,Contact,Month,Day_Of_Week,Campaign,Pdays,Previous,Poutcome,Emp.Var.Rate,Cons.Price.Idx,Cons.Conf.Idx,Outcome
0,1,56,housemaid,married,Other,no,no,no,telephone,may,mon,1,999,0,nonexistent,1.1,93.994,-36.4,no
1,3,37,services,married,high.school,no,yes,no,telephone,may,mon,1,999,0,nonexistent,1.1,93.994,-36.4,no
2,5,56,services,married,high.school,no,no,yes,telephone,may,mon,1,999,0,nonexistent,1.1,93.994,-36.4,no
3,6,45,services,married,Other,NaN,no,no,telephone,may,mon,1,999,0,nonexistent,1.1,93.994,-36.4,no
4,7,59,admin.,married,professional.course,no,no,no,telephone,may,mon,1,999,0,nonexistent,1.1,93.994,-36.4,no
5,8,41,blue-collar,married,NaN,NaN,no,no,telephone,may,mon,1,999,0,nonexistent,1.1,93.994,-36.4,no
6,9,24,technician,single,professional.course,no,yes,no,telephone,may,mon,1,999,0,nonexistent,1.1,93.994,-36.4,no
7,10,25,services,single,high.school,no,yes,no,telephone,may,mon,1,999,0,nonexistent,1.1,93.994,-36.4,no
8,11,41,blue-collar,married,NaN,NaN,no,no,telephone,may,mon,1,999,0,nonexistent,1.1,93.994,-36.4,no
9,12,25,services,single,high.school,no,yes,no,telephone,may,mon,1,999,0,nonexistent,1.1,93.994,-36.4,no

In [510]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28937 entries, 0 to 28936
Data columns (total 19 columns):
ID                28937 non-null int64
Age               28937 non-null int64
Job               28699 non-null object
Marital           28883 non-null object
Education         27704 non-null object
Default           22943 non-null object
Housing           28937 non-null object
Loan              28937 non-null object
Contact           28937 non-null object
Month             28937 non-null object
Day_Of_Week       28937 non-null object
Campaign          28937 non-null int64
Pdays             28937 non-null int64
Previous          28937 non-null int64
Poutcome          28937 non-null object
Emp.Var.Rate      28937 non-null float64
Cons.Price.Idx    28937 non-null float64
Cons.Conf.Idx     28937 non-null float64
Outcome           28937 non-null object
dtypes: float64(3), int64(5), object(11)
memory usage: 4.2+ MB

In [511]:
#fill empty jobs with other
data.Job.fillna("other",inplace=True)

In [512]:
def conv(parameter):
    m,a = parameter
    if m!=m:
        if a>=30:
            return "married"
        else:
            return "single"
    else:
        return m

In [513]:
data["Marital2"] = data[["Marital","Age"]].apply(conv,axis=1)
test["Marital2"] = data[["Marital","Age"]].apply(conv,axis=1)

In [514]:
Job = pd.get_dummies(data["Job"]).drop("unemployed",1)

In [515]:
Marital = pd.get_dummies(data["Marital2"]).drop("married",1)
Marital2 = pd.get_dummies(test["Marital"]).drop("married",1)

In [516]:
data.groupby(["Contact","Outcome"])["ID"].count()

Contact    Outcome
cellular   no         15692
           yes         2710
telephone  no          9971
           yes          564
Name: ID, dtype: int64

In [517]:
data.Education.fillna("Other",inplace=True)
test.Education.fillna("Other",inplace=True)

In [518]:
education = pd.get_dummies(data["Education"]).drop("illiterate",1)
education2 = pd.get_dummies(test["Education"]).drop("illiterate",1)

In [519]:
data.loc[data["Age"]>=26,"Marital"].value_counts()

married     17263
single       7191
divorced     3246
Name: Marital, dtype: int64

In [520]:
data["Default"].fillna("no",inplace=True)
test["Default"].fillna("no",inplace=True)

In [521]:
data["Loan"].value_counts()

no         23865
yes         4385
unknown      687
Name: Loan, dtype: int64

In [522]:
contact = pd.get_dummies(data["Contact"]).drop("telephone",1)
contact2 = pd.get_dummies(test["Contact"]).drop("telephone",1)

In [523]:
data.loc[data["Pdays"]==999,"Pdays"]=-1
test.loc[test["Pdays"]==999,"Pdays"]=-1

In [524]:
pout= pd.get_dummies(data["Poutcome"]).drop("nonexistent",1)
pout2= pd.get_dummies(test["Poutcome"]).drop("nonexistent",1)

In [525]:
data["Emp.Var.Rate"].value_counts()

 1.4    11322
-1.8     6595
 1.1     5479
-0.1     2521
-2.9     1174
-3.4      727
-1.7      550
-1.1      438
-3.0      124
-0.2        7
Name: Emp.Var.Rate, dtype: int64

In [526]:
y=data.Outcome

In [527]:
data["Cons.Price.Idx"]=data["Cons.Price.Idx"]/10
data["Cons.Conf.Idx"]=data["Cons.Conf.Idx"]/10
test["Cons.Conf.Idx"]=test["Cons.Conf.Idx"]/10
test["Cons.Price.Idx"]=test["Cons.Price.Idx"]/10

In [528]:
x=pd.concat([data.drop(["ID","Marital","Month","Day_Of_Week","Outcome","Poutcome","Education","Contact","Job","Marital2"],axis=1),pout,education,Job,Marital],axis=1)

In [529]:
x.replace("no",0,inplace=True)

In [530]:
x.replace("yes",1,inplace=True)

In [531]:
x.replace("unknown",-1,inplace=True)

In [532]:
from sklearn.linear_model import LogisticRegression

In [533]:
lr = LogisticRegression()

In [534]:
lr.fit(x,y)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

In [535]:
test.Job.fillna("other",inplace=True)

In [536]:
Job2 = pd.get_dummies(test["Job"]).drop("unemployed",1)

In [537]:
x_t=pd.concat([test.drop(["ID","Marital","Month","Day_Of_Week","Poutcome","Education","Contact","Job","Marital2"],axis=1),pout2,education2,Job2,Marital2],axis=1)

In [538]:
x_t.replace("no",0,inplace=True)

In [539]:
x_t.replace("yes",1,inplace=True)

In [540]:
x_t.replace("unknown",-1,inplace=True)

In [541]:
pre = lr.predict(x_t)

In [542]:
outcome=Series(data=pre,name= "Outcome")

In [543]:
sub = pd.concat([test["ID"],outcome],axis=1)

In [544]:
sub.to_csv("sub.csv")

In [545]:
outcome.value_counts()

no     11843
yes      408
Name: Outcome, dtype: int64

In [501]:
pre.size

12251

In [502]:
outcome_m=Series(data=y,name= "Outcome")

In [503]:
outcome_m.value_counts()

no     25663
yes     3274
Name: Outcome, dtype: int64

#### x_t.head()

In [164]:
x.head()

,Age,Default,Housing,Loan,Campaign,Pdays,Previous,Emp.Var.Rate,Cons.Price.Idx,Cons.Conf.Idx,...,blue-collar,entrepreneur,housemaid,management,other,retired,self-employed,services,student,technician
0,56,0,0,0,1,-1,0,1.1,93.994,-36.4,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,37,0,1,0,1,-1,0,1.1,93.994,-36.4,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
2,56,0,0,1,1,-1,0,1.1,93.994,-36.4,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
3,45,0,0,0,1,-1,0,1.1,93.994,-36.4,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
4,59,0,0,0,1,-1,0,1.1,93.994,-36.4,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [383]:
data.Education.value_counts()

Other                  8775
university.degree      8534
high.school            6670
professional.course    3712
other                  1233
illiterate               13
Name: Education, dtype: int64

In [384]:
8775+8534+6670+3712+13

27704

In [460]:
data.loc[data["Marital"].isnull(),"Age"]

289      57
1016     33
2208     57
2430     37
3041     32
3125     31
4505     50
5053     32
5207     37
5344     33
5390     33
6715     54
6870     37
8233     33
8309     58
8384     52
10372    45
10373    45
10669    31
10729    31
11666    54
12134    49
12188    55
12356    41
14380    29
14381    29
14504    36
15556    49
18518    35
18547    50
18695    49
18843    50
19432    50
20850    38
21353    25
21391    25
21393    27
21704    34
21956    34
22908    45
23013    34
23016    34
23020    34
23155    34
23389    35
23418    35
24391    52
25211    29
25572    37
25612    33
26303    66
27116    31
27619    30
27620    30
Name: Age, dtype: int64

In [ ]:
data