In [2]:
import numpy as np
import pandas as pd
%matplotlib inline

In [4]:
internship = pd.read_csv("Internship.csv")

In [5]:
student = pd.read_csv("Student.csv")

In [9]:
internship.columns

Index(['Internship_ID', 'Internship_Profile', 'Skills_required',
       'Internship_Type', 'Internship_Location', 'Internship_category',
       'No_of_openings', 'Stipend_Type', 'Stipend1', 'Stipend2',
       ...
       'PhoneGap', 'Storytelling', 'MySQL.', 'Ionic', 'Design Skills',
       'Corporate Sales', 'Entrepreneurship', 'Films', 'Foundation',
       'Payment Gateway'],
      dtype='object', length=286)

In [10]:
student.head()

,Student_ID,Institute_Category,Institute_location,hometown,Degree,Stream,Current_year,Year_of_graduation,Performance_PG,PG_scale,Performance_UG,UG_Scale,Performance_12th,Performance_10th,Experience_Type,Profile,Location,Start Date,End Date
0,7654321,Y,JADH,IIDB,B.Tech and M.Tech (Dual Degree),Mathematics & Computing,already a graduate,2012,8.5,10,8.6,10,86.2,91.6,job,Software Engineering,IJCE,18-Jun-13,21-Jun-14
1,7654321,Y,JADH,IIDB,B.Tech and M.Tech (Dual Degree),Mathematics & Computing,already a graduate,2012,8.5,10,8.6,10,86.2,91.6,job,Software Development,IIDB,01-Jul-13,NaN
2,7668677,Y,JAHG,IJCE,MBA,BUSINESS MANAGEMENT,1,2016,60.0,100,60.5,100,81.6,90.3,job,Operations Process Consulting + Coding,IIBD,06-May-13,13-Jun-14
3,7668677,Y,JAHG,IJCE,MBA,BUSINESS MANAGEMENT,1,2016,60.0,100,60.5,100,81.6,90.3,job,Product Development,IIBD,08-Aug-11,29-Mar-13
4,7654322,Y,JACD,JDAE,B.Tech,Biotechnology,already a graduate,2012,0.0,10,7.1,10,87.0,88.0,internship,Research Intern,IIBD,02-Jun-10,11-Jul-10